
/********** NAV **********/

#nav-main {
	margin-left: auto;
	margin-right: auto;
	float: none;
	text-align: center;
	text-transform: uppercase;
	font-size: @font-size-small;
	line-height: @navbar-height;

	> li {

		> a {

			&:hover, &:active, &:focus {
			}
		}
	}

	.dropdown {
		> a {
		}
	}

	.dropdown-menu {

		> li {
			> a {
			}
		}
	}
}

.navbar-collapse {
}



.navbar-toggle {

	.icon-bar {
		transition: all 200ms;
	}


	&.collapsed {

		&.first {
			transform: translateY(0px) rotate(0deg);
		}
		&.second {
			opacity: 1;
		}
		&.third {
			transform: translateY(0px) rotate(0deg);
		}


		&:hover, &:active {
			.icon-bar {

				&.first {
					transform: translateY(-1px);
				}
				&.third {
					transform: translateY(1px);
				}
			}
		}
	}
	
	&:not(.collapsed) {
		.icon-bar {

			&.first {
				transform: translateY(6px) rotate(-45deg);
			}
			&.second {
				opacity: 0;
			}
			&.third {
				transform: translateY(-6px) rotate(45deg);
			}
		}
	}
}