
.btn {
	padding-left: 40px;
	padding-right: 40px;
	white-space: normal;

	&.btn-full {
		width: 100%;
	}

	&.btn-uppercase {
		text-transform: uppercase;
	}

	&:hover {
	}

	&:active {
	}
	
	&.btn-default {

		&:hover {
		}

		&:active {
		}

	}
}